@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.card-largura {
    max-width: 18rem;
}

.col {
    display: flex;
    justify-content: center;

}

.imagem-carrossel {
    object-fit: cover;
    height: 600px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    height: 600px;
}

.primeiro-texto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.frutas {
    height: 800px;
    padding-left: 150px;
}

.smoothie {
    height: 800px;
}

.apresentacao {
    background-color: white;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.apresentacao-2 {
    background-color: white;
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.descricao {
    padding-top: 50px;
    padding-left: 800px;
    width: 90%;
}

.apresentacao-final {
    background-color: #6a994e;
    padding-bottom: 40px;
    padding-top: 40px;
}

.segundo-texto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textos1 {
    width: 600px;
}

.textos2 {
    width: 500px;
}

.texto1 {
    font-size: 40px;
    color: #6a994e;
    font-family: 'Poppins';
    padding-left: 100px;
    padding-bottom: 20px;
    text-align: left;
    width: 500px;
    font-weight: 600;
}

.texto2 {
    color: #1b1b1b;
    font-size: 17px;
    font-family: 'Poppins';
    padding-left: 100px;
}

.texto3 {
    width: 450px;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Poppins';
    padding-bottom: 20px;
    font-weight: 600;
}

.texto-titulo {
    font-weight: 600;
} 

.texto4 {
    color: #1b1b1b;
    font-size: 17px;
    font-family: 'Poppins';
    padding-bottom: 15px;
}

.text-center {
    color: #1b1b1b;
    font-family: 'Poppins';
}

.card-title {
    font-size: 22px;
    font-weight: 600;
    color: #6a994e;
}

.card-text {
    font-family: 'Poppins';
    color: #1b1b1b;
    font-size: 15px;
}

.titulo {
    font-family: 'Poppins';
    font-size: 40px;
}

.btn {
    font-family: 'Poppins';
    color: #1b1b1b;
    font-weight: 600;
}

.fonte-titulo {
    font-family: 'Poppins';
    color: whitesmoke;
    font-weight: 600;
}

.cor-especial {
    color: #6a994e;
}

.nav ul li a:hover {
    color: #a7c957;
}

.navbar-brand {
    padding-left: 100px;
}

.navbar-nav {
    font-weight: 500;
    padding-right: 100px;
}

.nav-link {
    font-family: 'Poppins';
    color: #1b1b1b;
}

.botao-cor-especial {
    background-color: #6a994e;
    color: white;
}

.botao-cor-especial2 {
    background-color: #ffffff;
    color: #6a994e;
}

.borda-cor-especial {
    border-color: #a7c957;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

.rodape {
    background-color: #6a994e;
}

.receita {
    color: #1b1b1b;
    font-family: 'Poppins';
}

.titulo-receita {
    color: #6a994e;
    font-family: 'Poppins';
    display: flex;
    font-weight: 600;
    font-size: 40px;
}

.titulo-receita-2 {
    color: #6a994e;
    font-weight: 600;
}

.icones-container {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
}

.icones {
    font-family: 'Poppins';
    width: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}

.estrelas, .relogio, .porcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 20px;  
}

.estrelas-legenda {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legenda {
    padding-left: 15px;
}

.lista {
    list-style-type: none;
}

.final {
    padding-left: 30px;
}

.rect {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%; /* ajuste o tamanho do retângulo como desejado */
    background-color: #6a994e; /* cor do retângulo */
  }

.abacate {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#quem-somos {
    padding: 50px 0;
    height: 700px;
    text-align: center;
    background-color: #6a994e;
    font-family: 'Poppins';
}
  
.equipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
  
.membro {
    margin: 20px;
    text-align: center;
}
  
.membro img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
  
.membro h3 {
    margin-top: 20px;
    font-size: 24px;
}
  
.membro p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.nome {
    color: white;
}

.titulo-quemsomos {
    padding-top: 30px;
    color: white;
    font-weight: 600;
}

.texto-quemsomos {
    text-align: center;
    padding-top: 20px;
    padding-left: 450px;
    padding-right: 450px;
    font-size: 16px;
    color: #1b1b1b;
}
