.card-largura {
    max-width: 18rem;
}

.col {
    display: flex;
    justify-content: center;
    
}

.imagem-carrossel {
    object-fit: cover;
    height: 600px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    height: 600px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
}

.cor-especial {
    color: #8cb369;
}

.navbar-brand {
    padding-left: 30px;
}

.navbar-nav {
    font-weight: 500; 
    padding-right: 30px;  
}

.container-fluid {
    align-items: center;
}

.botao-cor-especial {
    background-color: #8cb369;
    color: white;
}

.borda-cor-especial {
    border-color: #8cb369;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

.rodape {
    background-color: #8cb369;
}
